.cursor-pointer {
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-holder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}